.header {
  background-color: var(--gray-800);
  padding: 1.25rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header img {
  height: 2rem;
}

.header p {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--white);
}
